<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AliSign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AliSign.Properties.Settings>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="listBoxHashUbios" serializeAs="String">
                <value />
            </setting>
            <setting name="listBoxHashUbc" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxWorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxImageBios" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxSignedImageBios" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxDsaPrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxUbiosVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxUbiosPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxUbcPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxBootLoaderPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxImageDisk" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxSignedImageDisk" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxImageUbc" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxSignedImageUbc" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxUbiosVersionUbc" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxUbcVersion" serializeAs="String">
                <value />
            </setting>
        </AliSign.Properties.Settings>
    </userSettings>
</configuration>